body {
    background-image: url(../imgs/backgroundgradient.png);
    background-attachment: fixed;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

#container {
	position: relative;
}

/*#multiplebg {
    background-color: #9600EA;
    border: solid 5px #A600FF;
    position: fixed;
    top: 30px;
    bottom: 30px;
    left: 30px;
    right: 30px;
    background-position: center center;
    background-size: cover;
    float: bottom;

}

.logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 361px;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}*/

/*-----------------
| Nav
-------------------*/

ul {
    list-style-type:none;
    margin: 18px;
    padding:0;
/*    background: rgba(255, 255, 255, 0.28);*/
    width: 100%;
}

li {
    display:inline-block;
    float: left;
}

/*Style for menu links*/
li a {
    display:block;
    min-width:140px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.28);

}

li:hover a {
    background: #C0278F;
}

li:hover ul a {
    background: #f3f3f3;
    color: #2f3036;
    height: 40px;
    line-height: 40px;
}

li:hover ul a:hover {
    background: #19c589;
    color: #fff;
}

li ul {
    display: none;
}

\
li ul li {
    display: block;
    float: none;
}

li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}

ul li a:hover + .hidden, .hidden:hover {
    display: block;
}

.show-menu {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #fff;
    background: #19c589;
    text-align: center;
    padding: 10px 0;
    display: none;
}

input[type=checkbox]{
    display: none;
}

input[type=checkbox]:checked ~ #menu{
    display: block;
}

/*---------------------------------------------------------------------*/


.clearfix:after .clearfix:before { 
    content: "."; 
    display: block; 
    clear: both; 
    visibility: hidden; 
    line-height: 0; 
    height: 0; 
}
.clearfix { display: inline-block; }
 
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }


.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
  margin: auto;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  margin: auto;
  width: 70%;
  padding: 50px;
}

/*----------------------
| Footer
---------------------*/

footer {
    background-color: rgba(255, 255, 255, 0.28);
    margin-left: auto;
    margin-right: auto;
    height: 70px;
}

footer p {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    clear: both;
    padding: 25px;
    color: #fff;
}



/*--------------------
| Gallery Lightbox
---------------------*/

#lightbox {
    padding: 25px;
    text-align: center;
    width: 600px;
    margin: auto;
    margin-top: 100px;
}
#lightbox .images img {
    width: 150px;
    height: auto;
    border-radius: 5px;
    border: solid #fff;

}
#lightbox .light, #lightbox .dark {
    display: none;
    position: fixed;
    left:0px; top: 0px; bottom: 0px; right: 0px;

    margin: auto;

}
#lightbox .light {
    background-color: #000;
    width: 960px; 
    height: 650px; /* you may change the size here*/
    text-align: center;
    padding: 15px;
    
}
#lightbox .dark {
    background-color: #000;
    opacity: .7;
}
#lightbox .light img {
    display: block;
    margin: 0px 0px 15px;
}

/*----------------
| Contact Page
-----------------*/

#rollovers {
    padding: 10px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

/*------------------
|   Resume
-------------------*/

h2 {
    color: #9600EA;
    text-align: center;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: helvetica;

}

.printableresume {
    color: #9600EA;
    text-align: center;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: helvetica;
}

#resume {
    margin-top: 100px;
}

.resume_photo {
    display: block;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: 60%;
}

/*----------------
| Media Query for Nav
----------------*/

@media screen and (max-width : 760px){
 
    ul {
        position: static;
        display: none;
    }

    li {
        margin-bottom: 1px;
    }
  
    ul li, li a {
        width: 100%;
    }

    .show-menu {
        display:block;
    }
}

section {
    /*border-top: solid 10px red;*/
    /*border-bottom: solid 10px red;*/
    height: 600px;
    /*margin-bottom: 25px;*/
    background-color: white;

    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

    padding: 10px;
}

section:nth-of-type(3n+1) { background-image: url(../imgs/bgWIP1.jpg); }
section:nth-of-type(3n+2) { background-image: url(..//imgs/bgWIP2.jpg); }
section:nth-of-type(3n+3) { background-image: url(../imgs/bgWIP3.jpg); }

#sliding {
    width: 600px; 
    height: 512px; 
    border: solid 2px #fff;
    margin: auto;

    position: relative;

    overflow: hidden;
}

#sliding img {
    position: absolute;
    left: 0px;
    top: 0px;
}